.page
  %h2
    = "#{@feed_type.camelize} Feed"

  .feed
    %ul
      - @feed_items.each do |item|
        %li
          .feed_item
            %a{:href => "/users/#{item.raw_hash["user"]["id"]}"}= item.raw_hash["user"]["name"]
            = item.raw_hash["body"]["text"]
            .likes
              - current_user_likes = item.raw_hash["currentUserLike"]
              - if item.likes.total_size > 0
                == #{item.likes.total_size} people like this#{current_user_likes ? ', including you' : ''}
              - if current_user_likes
                %form{:action => "/feed-item/#{item.id}/like?return_to=#{@feed_type}", :method => "post"}
                  %input{:type => "hidden", :name => "_method", :value => "DELETE"}
                  %input{:type => "submit", :value => "Unlike this"}
              - else
                %form{:action => "/feed-item/#{item.id}/like?return_to=#{@feed_type}", :method => "post"}
                  %input{:type => "submit", :value => "Like this"}
            - if item.raw_hash["comments"]["total"] > 0
              .comments
                %b Comments
                - item.comments.each do |comment_hash|
                  - comment = Forcedotcom::Api::Chatter::Comment.new(@client, comment_hash)
                  .comment
                    %a{:href => "/users/#{comment.user["id"]}"}= comment.user["name"]
                    = comment.raw_hash["body"]["text"]
                    %form{:action => "/comment/#{comment.id}?return_to=#{@feed_type}", :method => "post"}
                      %input{:type => "hidden", :name => "_method", :value => "DELETE"}
                      %input{:type => "submit", :value => "Delete this comment"}
            .comment_form
              %form{:action => "/feed-item/#{item.id}/comment?return_to=#{@feed_type}", :method => "post"}
                %input{:type => "text", :name => "comment"}
                %input{:type => "submit", :value => "Comment"}
