.page
  %h2
    = @group.name

  .photo
    %img{:src => URI.join(session[:client].instance_url, @group.raw_hash["photo"]["smallPhotoUrl"]) + "?oauth_token=#{session[:client].oauth_token}"}

  .info
    .member_count
      == (#{@group.raw_hash["memberCount"]} members)
    .description
      == Description: #{@group.raw_hash["description"]}

  .members
    %h3 Members
    - @group.members.each do |member|
      .member
        %a{:href => "/users/#{member.raw_hash["user"]["id"]}"}
          = member.raw_hash["user"]["name"]
    