.page
  %h2
    = @group.name

  .photo
    %img{:src => URI.join(session[:client].instance_url, @group.raw_hash["photo"]["smallPhotoUrl"]) + "?oauth_token=#{session[:client].oauth_token}"}

  .info
    .member_count
      == (#{@group.raw_hash["memberCount"]} members)
    .description
      == Description: #{@group.raw_hash["description"]}

  .members
    %h3 Members
    - @group.members.each do |member|
      .member
        %a{:href => "/users/#{member.raw_hash["user"]["id"]}"}
          = member.raw_hash["user"]["name"]

  - membership = @group.members.detect {|f| f.raw_hash["user"]["id"] == session[:client].user_id}
  - if membership
    %form{:action => "/group-memberships/#{membership.id}?return_to=/groups/#{@group.id}", :method => "post"}
      %input{:type => "hidden", :name => "_method", :value => "DELETE"}
      %input{:type => "submit", :value => "Leave this group"}
  - else
    %form{:action => "/groups/#{@group.id}/join?return_to=/groups/#{@group.id}", :method => "post"}
      %input{:type => "submit", :value => "Join this group"}