Type:
%a{:href => "/sobject/#{params[:type]}"}
  = params[:type]

- @record.instance_variables.each do |field|
  .field
    - field = field.to_s.gsub('@', '')
    = "#{field} : #{@record.send(field)}"