.page
  %h2
    = @user.name

  .photo
    %img{:src => "https://#{@user.client.host}#{@user.raw_hash["photo"]["smallPhotoUrl"]}"}

  .status
    %b Status: 
    = @user.raw_hash["currentStatus"]["body"]["text"]

  .info
    .address
      Address:
      - address = @user.raw_hash["address"]
      == #{address["street"]} #{address["city"]} #{address["state"]} #{address["zip"]}
    .email
      Email:
      = @user.raw_hash["email"]
  .groups
    %h3 Groups
    - @user.groups.each do |group|
      .group
        %a{:href => "/groups/#{group.id}"}
          = group.raw_hash["name"]

  .following
    %h3 Following
    - following = @user.following
    = following.empty? ? "none" : ""
    - following.each do |follow|
      .follow
        = "#{follow.raw_hash["subject"]["name"]} (#{follow.raw_hash["subject"]["type"]})"

  .followers
    %h3 Followers
    - followers = @user.followers
    = followers.empty? ? "none" : ""
    - followers.each do |follower|
      .follower
        %a{:href => "/users/#{follower.raw_hash["subject"]["id"]}"}
          = follower.raw_hash["subject"]["name"]