.page
  %h2
    = @user.name

  .status
    %b Status: 
    = @user.raw_hash["currentStatus"]["body"]["text"]

  .info
    .address
      Address:
      - address = @user.raw_hash["address"]
      == #{address["street"]} #{address["city"]} #{address["state"]} #{address["zip"]}
    .email
      Email:
      = @user.raw_hash["email"]
  .groups
    %h3 Groups
    - @user.groups.each do |group|
      .group
        %a{:href => "/groups/#{group.id}"}
          = group.raw_hash["name"]